body {
  background-color: #45474a;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
li,
a {
  font-family: sans-serif;
  color: #fff;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

ul.header li a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

ul.header li a:hover {
  color: rgb(0, 217, 255);
}

div.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px auto;
  height: 75vh;
  background-color: #45474a;
  display: grid;
  grid-template-columns: 50em 50em;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #45474a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

#logo {
  min-width: 50px;
  max-width: 75px;
  padding-right: 5em;
}

#footer {
  padding-top: 2em;
}
